body{
    background-image: url("images/bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.input-border-error{
    border-color: hsl(0, 100%, 74%) !important;
    border-width: 2px !important;
    opacity: 0.9 !important;
}

.error-text-form{
    color: hsl(0, 100%, 74%);
    font-size: 0.6rem;
    font-style: italic;
    margin: 5px 0 0;
}

.error-symbol-form{
    height: 40%;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.forms-button{
    padding: 10px 0;
    width: 100%;
}

.forms-line{
    margin-bottom: 3vh;
    position: relative;
    text-align: right;
    width: 100%;
}

.forms-section{
    background-color: #ffffff;
    border-radius: 7.5px;
    box-shadow: 0 7px rgba(0, 0, 0, 0.2);
    margin: 0 5vw 10vh;
    padding: 3vh 5vw; 
    text-align: center;
}

.input-form{
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
    box-sizing: border-box;
    opacity: 0.75;
    padding: 15px;
    width: 100%;
}

.input-form,
.input-form::placeholder{
    color: hsl(249, 10%, 26%);
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
}

.input-space{
    position: relative;
}

.show-error{
    opacity: 1 !important;
}

.forms-description{
    color: hsl(246, 25%, 77%);
    font-size: 0.55rem;
}

.terms-and-services{
    color: hsl(0, 100%, 74%);
    font-weight: 600;
}

.purple-box{
    background-color: hsl(248, 32%, 49%);
    border-radius: 7.5px;
    box-shadow: 0 7px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 0.85rem;
    font-weight: 400;
    margin: 0 5vw 3vh;
    padding: 2vh;
    text-align: center;
}

.purple-box-text{
    margin: 0;
}

.title{
    font-size: 1.7rem;
    font-weight: 700;
}

.title-subtitle-section{
    color: #ffffff;
    margin: 15vh 5vw 8vh;
    text-align: center;
}

.try-free{
    font-weight: 600;
}

.subtitle{
    font-size: 0.85rem;
    font-weight: 400;
}